// Banner in Homepage and About Templates
.banner {
	background-color: $gray-200;
	padding: 5rem 0;

	h1 {
		margin: .5rem 0 1rem;
	}
}

// Homepage projects padding
.home-portfolio {
	padding: 3rem 0;
}

// About Template
.about-columns {
	padding: 5rem 0;
}

//Portfolio Items
.portfolio {
	margin-bottom: 2rem;
	h2 {
		font-size: $font-size-base;
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;

		a {
			color: $gray-700;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.post-thumbnail {
		background: $custom;

		img {
			opacity: 1;
			transition: .3s ease-in-out;

			&:hover {
				opacity: .5;
			}
		}
	}
}


.page-template-contact,
.post-type-archive-portfolio,
.tax-portfolio_category,
.single-portfolio {
	.site-main {
		padding: 3rem 0;
	}

	h1 {
		text-transform: uppercase;
		font-size: 1.75rem;
		border-bottom: 1px solid $gray-500;
		padding-bottom: 1rem;
		margin-bottom: 1.5rem;
	}
	
}

// About Template
.about-columns {
	padding: 3rem 0;

	h4 {
		margin-top: 2rem;
	}

	@include media-breakpoint-up(md) {
		padding: 5rem 0;
		h4 {
			margin-top: 0;
		}
	}
}